.indexEntryBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
}

.blockLetter {
    font-size: 14px;
    color: #cecece;
    width: 14px;
}

.blockDivider {
    margin-top: 10px;
    border: 1px solid #000000;
}

@media (min-width: 900px) {
    .indexEntryBlock {
        padding-left: 100px;
        padding-right: 100px;
    }
}